<div id="carouselExampleInterval" class="carousel slide carousel-fade w-100" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <% @app_banners.each_with_index do |_, index| %>
      <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="<%= index %>" class="<%= "active" if index.zero? %>  aria-current="<%= "true" if index.zero? %>"  aria-label="Slide <%= index + 1 %>"></button>
    <% end %>
  </div>
  <div class="carousel-inner">
    <% @app_banners.each_with_index do |app_banner, index| %>
      <a href="<%= app_banner.redirect_url %>" class="carousel-item <%= 'active' if index.zero? %>" data-bs-interval="2000">
        <%= image_tag app_banner.image_url, class: "image" %>
      </a>
    <% end %>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
