<%= render partial: "navbar" %>
<div class="d-flex justify-content-center align-items-center mt-lg-4">
  <%= render partial: "carousel" %>
</div>
<br>
<br>
<br>
<%= render partial: "grid" %>
<%= render partial: "footer" %>
<a href="https://chat.whatsapp.com/GnBtyrHozEH9oyo6hA4GwM" class="whatsapp">
  <%= image_tag "whatsapp.png",style: "width:60px" %>
</a>
<a href="https://t.me/s/EarnMoreEarnBig" class="telegram">
  <%= image_tag "telegram.png",style: "width:60px" %>
</a>
<a href="https://www.youtube.com/watch?v=7uEPK1lAnN4&feature=youtu.be" class="youtube">
  <%= image_tag "youtube.png",style: "width:60px" %>
</a>