<table class="table table-bordered">
  <thead>
  <tr>
    <th scope="col" class="fs-5">Id</th>
    <th scope="col" class="fs-5">Player Id</th>
    <th scope="col" class="fs-5">Award</th>
    <th scope="col" class="fs-5">Source Ip</th>
    <th scope="col" class="fs-5">Created At</th>
    <th scope="col" class="fs-5">Status</th>
  </tr>
  </thead>
  <tbody>
  <% @game_rewards.each do |game_reward| %>
    <tr>
      <th class="fs-5">
        <%= game_reward.id %>
      </th>
      <td><%= game_reward.player_id %></td>
      <td class="fs-5">
        <% award_title = GameAward.find(game_reward.game_award_id).title %>
        <%= award_title %>
        </td>
      <td class="fs-5"><%= game_reward.source_ip %></td>
      <td class="fs-5"><%= game_reward.created_at.strftime('%d/%m/%y %I:%M:%S %p') %></td>
      <td class="fs-5">
        <% if game_reward.status %>
          <i class="fa-solid fa-check text-success fs-3" ></i>
        <% else %>
          <i class="fa-solid fa-xmark text-danger fs-3" ></i>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
