<table class="table table-bordered">
  <thead>
  <tr>
    <th scope="col" class="fs-5">Id</th>
    <th scope="col" class="fs-5">Image</th>
    <th scope="col" class="fs-5">Title</th>
    <th scope="col" class="fs-5">Published Date</th>
    <th scope="col" class="fs-5">Status</th>
    <th scope="col" class="fs-5">Action</th>
  </tr>
  </thead>
  <tbody>
  <% @articles.each do |article| %>
    <tr>
      <th class="fs-5">
        <a href="/admin/articles/<%= article.id %>"><%= article.id %></a>
      </th>
      <td>
        <% if article.img_url %>
          <%= image_tag article.img_url,style:"width:200px" %>
        <% end %>
      </td>
      <td class="fs-5"><%= article.title %></td>
      <td class="fs-5"><%= article.created_at.strftime("%d/%m/%y  %I:%M:%S %p") %></td>
      <td class="fs-5">
        <% if article.highlight %>
          <i class="fa-solid fa-check text-success fs-3" ></i>
        <% else %>
          <i class="fa-solid fa-xmark text-danger fs-3" ></i>
        <% end %>
      </td>
      <td><%= link_to "Edit", edit_article_path(article),class:"btn bg-dark text-light"%>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>