<%= stylesheet_link_tag "admin" %>
<nav class="navbar px-5 me-5">
  <h2>Admin Dashboard</h2>
  <a href="/app_offers"><%= image_tag "user.png",style: "width:50px" %></a>
</nav>
<hr/>
<div class="main">
  <div class="px-4">
    <%= render "shared/sidebar" %>
  </div>
  <div class="main-content">
    <% if notice %>
      <div class="alert alert-success" role="alert"><%= notice %></div>
    <% end %>
    <div class="d-flex justify-content-between align-items-center">
      <h1 class="mb-4">Listing Articles </h1>
      <%= link_to "New article", new_article_path ,class:"btn btn-success mb-4"%>
    </div>
    <div>
        <%= render "article" %>
    </div>
  </div>
</div>