  <%= form_with(model: app_offer,url:admin_app_offers_path ,class: "form-horizontal") do |form| %>
    <% if app_offer.errors.any? %>
      <div class="alert alert-danger">
        <h2><%= pluralize(app_offer.errors.count, "error") %> prohibited this app_offer from being saved:</h2>
        <ul>
          <% app_offer.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group p-2 w-100">
          <%= form.label :offer_name, class: "control-label fs-5 fw-medium" %>
          <%= form.text_field :offer_name, class: "form-control" %>
        </div>
        <div class="form-group p-2">
          <%= form.label :identifier, class: "control-label fs-5 fw-medium" %>
          <%= form.text_field :identifier, class: "form-control" %>
        </div>
        <div class="form-group p-2">
          <%= form.label :instructions, class: "control-label fs-5 fw-medium" %>
          <%= form.text_area :instructions, class: "form-control" %>
        </div>
        <div class="form-group p-2">
          <%= form.label :action_url, class: "control-label fs-5 fw-medium" %>
          <%= form.text_field :action_url, class: "form-control" %>
        </div>
        <div class="form-group p-2">
          <%= form.label :payout_amount, class: "control-label fs-5 fw-medium" %>
          <%= form.text_field :payout_amount, class: "form-control" %>
        </div>
        <div class="form-group p-2">
          <%= form.label :retention_amount, class: "control-label fs-5 fw-medium" %>
          <%= form.text_field :retention_amount, class: "form-control" %>
        </div>
        <div class="d-lg-flex gap-3 mt-2 ">
          <div class="form-group p-2 d-flex align-items-center gap-2">
            <%= form.label :status, class: "control-label fs-5 fw-medium" %>
            <%= form.check_box :status, class: "form-check-input" %>
          </div>
          <div class="form-group p-2 d-flex align-items-center gap-2">
            <%= form.label :retention_offer, class: "control-label fs-5 fw-medium" %>
            <%= form.check_box :retention_offer, class: "form-check-input" %>
          </div>

          <div class="form-group p-2 d-flex align-items-center gap-2">
            <%= form.label :event_offer, class: "control-label fs-5 fw-medium" %>
            <%= form.check_box :event_offer, class: "form-check-input" %>
          </div>

          <div class="form-group p-2 d-flex align-items-center gap-2">
            <%= form.label :insta_offer, class: "control-label fs-5 fw-medium" %>
            <%= form.check_box :insta_offer, class: "form-check-input" %>
          </div>
        </div>

      </div>

      <div class="col-md-6">
        <div class="form-group p-2 w-100">
          <%= form.label :retention_day, class: "control-label fs-5 fw-medium" %>
          <%= form.text_field :retention_day, class: "form-control" %>
        </div>
        <div class="form-group p-2">
          <%= form.label :whatsapp_link, class: "control-label fs-5 fw-medium" %>
          <%= form.text_field :whatsapp_link, class: "form-control" %>
        </div>
        <div class="form-group p-2">
          <%= form.label :description, class: "control-label fs-5 fw-medium" %>
          <%= form.text_area :description, class: "form-control" %>
        </div>
        <div class="form-group p-2">
          <%= form.label :refer_amount, class: "control-label fs-5 fw-medium" %>
          <%= form.text_field :refer_amount, class: "form-control" %>
        </div>
        <div class="form-group p-2">
          <%= form.label :image_url, class: "control-label fs-5 fw-medium" %>
          <%= form.text_field :image_url, class: "form-control" %>
        </div>
        <div class="form-group p-2">
          <%= form.label :daily_cap, class: "control-label fs-5 fw-medium" %>
          <%= form.number_field :daily_cap, class: "form-control" %>
        </div>
        <div class="form-group p-2">
          <%= form.label :priority, class: "control-label fs-5 fw-medium" %>
          <%= form.number_field :priority, class: "form-control" %>
        </div>
      </div>
    </div>
    <div class="form-group p-2">
      <div class="col-sm-offset-2 col-sm-10">
        <%= form.submit "Save", class: "btn edit-save-btn text-light fw-medium" %>
      </div>
    </div>

  <% end %>
