 <div class="main-content container">
   <% if notice %>
    <div class="alert alert-success"><%= notice %></div>
    <% end %>
    <div class="d-lg-flex justify-content-start align-items-center gap-3">
      <%= link_to "Back", admin_app_offers_path,class:"btn btn-dark fw-medium" %>
      <h1><%= @app_offer.offer_name %></h1>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group p-2">
          <label class="control-label fs-5 fw-medium">Offer Name</label>
          <h2 class="form-control"><%= @app_offer.offer_name %></h2>
        </div>

        <div class="form-group p-2">
          <label class="control-label fs-5 fw-medium">Identifier</label>
          <h2 class="form-control"><%= @app_offer.identifier %></h2>
        </div>


        <div class="form-group p-2">
          <label class="control-label fs-5 fw-medium">Instructions</label>
          <h2 class="form-control"><%= @app_offer.instructions %></h2>
        </div>
        <div class="form-group p-2">
          <label class="control-label fs-5 fw-medium">Action Url</label>
          <h2 class="form-control"><%= @app_offer.action_url %></h2>
        </div>
        <div class="form-group p-2">
          <label class="control-label fs-5 fw-medium">Payout Amount</label>
          <h2 class="form-control"><%= @app_offer.payout_amount %></h2>
        </div>


        <div class="form-group p-2">
          <label class="control-label fs-5 fw-medium">Retention Amount</label>
          <h2 class="form-control"><%= @app_offer.retention_amount %></h2>
        </div>
        <div class="d-lg-flex gap-3 mt-4">
          <div class="form-group p-2 d-flex align-items-center gap-2">
            <label class="form-check-label" for="exampleCheck1">Status</label>
            <input disabled type="checkbox" class="form-check-input" id="exampleCheck1" <%= @app_offer.status ? 'checked' : '' %> >
          </div>
          <div class="form-group p-2 d-flex align-items-center gap-2">
            <label class="form-check-label" for="exampleCheck1">Retention Offer</label>
            <input disabled type="checkbox" class="form-check-input" id="exampleCheck1" <%= @app_offer.retention_offer ? 'checked' : '' %> >
          </div>

          <div class="form-group p-2 d-flex align-items-center gap-2">
            <label class="form-check-label" for="exampleCheck1">Event Offer</label>
            <input disabled type="checkbox" class="form-check-input" id="exampleCheck1" <%= @app_offer.event_offer ? 'checked' : "" %> >
          </div>

          <div class="form-group p-2 d-flex align-items-center gap-2">
            <label class="form-check-label" for="exampleCheck1">Insta Offer</label>
            <input disabled type="checkbox" class="form-check-input" id="exampleCheck1" <%= @app_offer.insta_offer ? 'checked' : "" %> >
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group p-2">
          <label class="control-label fs-5 fw-medium">Retention Day</label>
          <h2 class="form-control"><%= @app_offer.retention_day %></h2>
        </div>

        <div class="form-group p-2">
          <label class="control-label fs-5 fw-medium">WhatsApp Link</label>
          <h2 class="form-control"><%= @app_offer.whatsapp_link %></h2>
        </div>
        <div class="form-group p-2">
          <label class="control-label fs-5 fw-medium">Description</label>
          <h2 class="form-control"><%= @app_offer.description %></h2>
        </div>

        <div class="form-group p-2">
          <label class="control-label fs-5 fw-medium">Refer Amount</label>
          <h2 class="form-control"><%= @app_offer.refer_amount %></h2>
        </div>

        <div class="form-group p-2">
          <label class="control-label fs-5 fw-medium">Image Url</label>
          <h2 class="form-control"><%= @app_offer.image_url %></h2>
        </div>

        <div class="form-group p-2">
          <label class="control-label fs-5 fw-medium">Daily Cap</label>
          <h2 class="form-control"><%= @app_offer.daily_cap %></h2>
        </div>
        <div class="form-group p-2">
          <label class="control-label fs-5 fw-medium">Priority</label>
          <h2 class="form-control"><%= @app_offer.priority %></h2>
        </div>
      </div>
    </div>
      <% @events.each do |event| %>
    <div class="w-100 d-flex flex-column gap-3">
       <div class="d-flex align-items-center">
          <div class="form-group p-2 w-100">
          <label class="control-label fs-5 fw-medium">Event Order</label>
          <h2 class="form-control"><%= event.event_order %></h2>
        </div>
        <div class="form-group p-2 w-100">
          <label class="control-label fs-5 fw-medium">Event Title</label>
          <h2 class="form-control"><%= event.event_title %></h2>
        </div>
         <div class="form-group p-2 w-100">
          <label class="control-label fs-5 fw-medium">Event Amount</label>
          <h2 class="form-control"><%= event.event_amount %></h2>
        </div>
        <div class="form-group p-2 w-100">
          <label class="control-label fs-5 fw-medium">Pay Type</label>
          <h2 class="form-control"><%= event.pay_type %></h2>
        </div>
        <div class="form-group p-2  mt-4">
          <a class="btn btn-dark" href="/admin/app_offers/<%= @app_offer.id %>/edit/event/<%= event.id %>/edit">Edit</a>
        </div>
        <div class="form-group p-2 w-100 mt-4">
          <a class="btn btn-danger" href="/admin/app_offers/<%= @app_offer.id %>/edit/event/<%= event.id %>">Delete</a>
        </div>
       </div>
    </div>
      <% end %>
    <div class="form-group p-2 mt-4">
      <div class="col-sm-offset-2 col-sm-10">
        <%= link_to "Edit", edit_admin_app_offer_path , class: "btn btn-dark text-light fw-medium me-3" %>
      </div>
    </div>
  </div>
