  <%= form_with(model: list_redeem,url:admin_list_redeem_path,class: "form-horizontal") do |form| %>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group p-2">
          <%= form.label :ref_user_id, class: "control-label fs-5 fw-medium" %>
          <%= form.text_field :ref_user_id, class: "form-control" %>
        </div>
        <div class="form-group p-2">
          <%= form.label :pay_phone, class: "control-label fs-5 fw-medium" %>
          <%= form.text_field :pay_phone, class: "form-control" %>
        </div>
        <div class="form-group p-2">
          <%= form.label :pay_email, class: "control-label fs-5 fw-medium" %>
          <%= form.text_field :pay_email, class: "form-control" %>
        </div>
        <div class="form-group p-2">
          <%= form.label :pay_type, class: "control-label fs-5 fw-medium" %>
          <%= form.text_field :pay_type, class: "form-control" %>
        </div>
        <div class="form-group p-2" style="width:50vw">
          <%= form.label :status, class: "control-label fs-5 fw-medium me-3" %>
          <%= form.select :status,["PENDING","PROCESSING","COMPLETED"],class: "dropdown form-control"%>
        </div>

      </div>

      <div class="col-md-6">
        <div class="form-group p-2">
          <%= form.label :pay_vendor, class: "control-label fs-5 fw-medium" %>
          <%= form.text_field :pay_vendor, class: "form-control" %>
        </div>
        <div class="form-group p-2">
          <%= form.label :upi_id, class: "control-label fs-5 fw-medium" %>
          <%= form.text_field :upi_id, class: "form-control" %>
        </div>
        <div class="form-group p-2">
          <%= form.label :pay_coin, class: "control-label fs-5 fw-medium" %>
          <%= form.text_field :pay_coin, class: "form-control" %>
        </div>
        <div class="form-group p-2">
          <%= form.label :pay_amount, class: "control-label fs-5 fw-medium" %>
          <%= form.text_field :pay_amount, class: "form-control" %>
        </div>
      </div>
    </div>
    <div class="form-group p-2">
      <div class="col-sm-offset-2 col-sm-10">
        <%= form.submit "Save", class: "btn edit-save-btn text-light fw-medium" %>
      </div>
    </div>
  <% end %>