<%= stylesheet_link_tag "admin" %>
<%= form_with(model: @game_award, class: "form-horizontal") do |form| %>
  <% if @game_award.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(@game_award.errors.count, "error") %> Prohibited this campaign_info from being saved:</h2>
      <ul>
        <% @game_award.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group p-2">
        <%= form.label :title, class: "control-label fs-5 fw-medium" %>
        <%= form.text_field :title, class: "form-control" %>
      </div>
      <div class="form-group p-2">
        <%= form.label :image_url, class: "control-label fs-5 fw-medium" %>
        <%= form.text_field :image_url, class: "form-control" %>
      </div>
      <div class="form-group p-2">
        <%= form.label :rules, class: "control-label fs-5 fw-medium" %>
        <%= form.text_area :rules, class: "form-control" %>
      </div>
      <div class="form-group p-2">
        <%= form.label :identifier, class: "control-label fs-5 fw-medium" %>
        <%= form.text_field :identifier, class: "form-control" %>
      </div>
      <div class="form-group p-2 d-flex align-items-center gap-2">
        <%= form.label :status, class: "control-label fs-5 fw-medium" %>
        <%= form.check_box :status, class: "form-check-input" %>
      </div>
    </div>

    <div class="col-md-6">
      <div class="form-group p-2">
        <%= form.label :redirect_url, class: "control-label fs-5 fw-medium" %>
        <%= form.text_field :redirect_url, class: "form-control" %>
      </div>
      <div class="form-group p-2">
        <%= form.label :input_name, class: "control-label fs-5 fw-medium" %>
        <%= form.text_field :input_name, class: "form-control" %>
      </div>
      <div class="form-group p-2">
        <%= form.label :publisher, class: "control-label fs-5 fw-medium" %>
        <%= form.text_field :publisher, class: "form-control" %>
      </div>
    </div>
  </div>
  <div class="form-group p-2">
    <div class="col-sm-offset-2 col-sm-10">
      <%= form.submit "Save", class: "btn edit-save-btn text-light fw-medium" %>
    </div>
  </div>
<% end %>