<%= stylesheet_link_tag "admin" %>
<nav class="navbar px-5 me-5">
  <h2>Admin Dashboard</h2>
  <a href="/app_offers"><%= image_tag "user.png",style: "width:50px" %></a>
</nav>
<hr/>
<div class="main">
  <div class="px-4">
    <%= render "shared/sidebar" %>
  </div>
  <div class="main-content container">
    <% if notice %>
      <div class="alert alert-success" role="alert"><%= notice %></div>
    <% end %>
    <div class="d-lg-flex justify-content-start align-items-center gap-3">
      <%= link_to "Back", game_awards_path,class:"btn btn-dark fw-medium" %>
      <h1 class="edit-heading">Editing Game Reward</h1>
    </div>
    <div class="d-flex justify-content-between align-items-center">
      <%= render "form" %>
    </div>
  </div>
</div>
