<%= form_with(model: referrer, class: "form-horizontal") do |form| %>
  <% if referrer.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(referrer.errors.count, "error") %> prohibited this app_offer from being saved:</h2>
      <ul>
        <% referrer.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group p-2">
        <%= form.label :affiliate_id, class: "control-label fs-5 fw-medium" %>
        <%= form.text_field :affiliate_id, class: "form-control" %>
      </div>
      <div class="form-group p-2">
        <%= form.label :paytm_number, class: "control-label fs-5 fw-medium" %>
        <%= form.text_field :paytm_number, class: "form-control" %>
      </div>
      <div class="form-group p-2">
        <%= form.label :source_ip, class: "control-label fs-5 fw-medium" %>
        <%= form.text_field :source_ip, class: "form-control" %>
      </div>
      <div class="form-group p-2">
        <%= form.label :click_id, class: "control-label fs-5 fw-medium" %>
        <%= form.text_field :click_id, class: "form-control" %>
      </div>
      <div class="form-group p-2">
        <%= form.label :live_offer_id, class: "control-label fs-5 fw-medium" %>
        <%= form.text_field :live_offer_id, class: "form-control" %>
      </div>
      <div class="form-group p-2">
        <%= form.label :app_offer_id, class: "control-label fs-5 fw-medium" %>
        <%= form.text_field :app_offer_id, class: "form-control" %>
      </div>
      <div class="d-lg-flex gap-3 mt-4 me-5">
        <div class="form-group p-5 d-flex align-items-center gap-2 ">
          <%= form.label :aff_status, class: "control-label fs-5 fw-medium" %>
          <%= form.check_box :aff_status, class: "form-check-input" %>
        </div>
        <div class="form-group p-5 d-flex align-items-center gap-2">
          <%= form.label :ref_status, class: "control-label fs-5 fw-medium" %>
          <%= form.check_box :ref_status, class: "form-check-input" %>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group p-2">
        <%= form.label :aff_order_id, class: "control-label fs-5 fw-medium" %>
        <%= form.text_field :aff_order_id, class: "form-control" %>
      </div>
      <div class="form-group p-2">
        <%= form.label :aff_pay_response, class: "control-label fs-5 fw-medium" %>
        <%= form.text_area :aff_pay_response, class: "form-control" %>
      </div>
      <div class="form-group p-2">
        <%= form.label :ref_pay_response, class: "control-label fs-5 fw-medium" %>
        <%= form.text_area :ref_pay_response, class: "form-control" %>
      </div>
      <div class="form-group p-2">
        <%= form.label :upi_id, class: "control-label fs-5 fw-medium" %>
        <%= form.text_field :upi_id, class: "form-control" %>
      </div>
      <div class="form-group p-2">
        <%= form.label :telegram_id, class: "control-label fs-5 fw-medium" %>
        <%= form.text_field :telegram_id, class: "form-control" %>
      </div>
    </div>
  </div>
  <div class="form-group p-2">
    <div class="col-sm-offset-2 col-sm-10">
      <%= form.submit "Save", class: "btn edit-save-btn text-light fw-medium" %>
    </div>
  </div>
<% end %>