<div id="<%= dom_id referrer %>">
  <p>
    <strong>Affiliate:</strong>
    <%= referrer.affiliate_id %>
  </p>

  <p>
    <strong>Paytm number:</strong>
    <%= referrer.paytm_number %>
  </p>

  <p>
    <strong>Source ip:</strong>
    <%= referrer.source_ip %>
  </p>

  <p>
    <strong>Click:</strong>
    <%= referrer.click_id %>
  </p>

  <p>
    <strong>Live offer:</strong>
    <%= referrer.live_offer_id %>
  </p>

  <p>
    <strong>App offer:</strong>
    <%= referrer.app_offer_id %>
  </p>

  <p>
    <strong>Aff status:</strong>
    <%= referrer.aff_status %>
  </p>

  <p>
    <strong>Ref status:</strong>
    <%= referrer.ref_status %>
  </p>

  <p>
    <strong>Aff order:</strong>
    <%= referrer.aff_order_id %>
  </p>

  <p>
    <strong>Aff pay response:</strong>
    <%= referrer.aff_pay_response %>
  </p>

  <p>
    <strong>Ref pay response:</strong>
    <%= referrer.ref_pay_response %>
  </p>

  <p>
    <strong>Upi:</strong>
    <%= referrer.upi_id %>
  </p>

  <p>
    <strong>Telegram:</strong>
    <%= referrer.telegram_id %>
  </p>

</div>
