
  <div class="main-content container">
    <% if notice %>
    <div class="alert alert-success" role="alert"><%= notice %></div>
    <% end %>
    <div class="ms-2 mt-2">
    </div>

    <div class="d-lg-flex justify-content-start align-items-center gap-3">
      <%= link_to "Back", referrers_path,class:"btn btn-dark fw-medium" %>
      <h1>Referrer: #<%= @referrer.id %></h1>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group p-2">
          <label class="control-label fs-5 fw-medium">Live Offer Id</label>
          <h2 class="form-control"><%= @referrer.live_offer_id %></h2>
        </div>
        <div class="form-group p-2">
          <label class="control-label fs-5 fw-medium">App Offer Id</label>
          <h2 class="form-control"><%= @referrer.app_offer_id %></h2>
        </div>
        <div class="form-group p-2">
          <label class="control-label fs-5 fw-medium">Click Id</label>
          <h2 class="form-control"><%= @referrer.click_id %></h2>
        </div>
        <div class="form-group p-2">
          <label class="control-label fs-5 fw-medium">Affiliate Id</label>
          <h2 class="form-control"><%= @referrer.affiliate_id %></h2>
        </div>
        <div class="form-group p-2">
          <label class="control-label fs-5 fw-medium">Paytm Number</label>
          <h2 class="form-control"><%= @referrer.paytm_number %></h2>
        </div>
        <div class="form-group p-2">
          <label class="control-label fs-5 fw-medium">Upi Id</label>
          <h2 class="form-control"><%= @referrer.upi_id %></h2>
        </div>
        <div class="form-group p-2">
          <label class="control-label fs-5 fw-medium">Source Ip</label>
          <h2 class="form-control"><%= @referrer.source_ip %></h2>
        </div>
      </div>

      <div class="col-md-6">

        <div class="form-group p-2">
          <label class="control-label fs-5 fw-medium">Aff Status</label>
          <h2 class="form-control"><%= @referrer.aff_status %></h2>
        </div>
        <div class="form-group p-2">
          <label class="control-label fs-5 fw-medium">Ref Status</label>
          <h2 class="form-control"><%= @referrer.ref_status %></h2>
        </div>
        <div class="form-group p-2">
          <label class="control-label fs-5 fw-medium">Aff Order Id</label>
          <h2 class="form-control"><%= @referrer.aff_order_id %></h2>
        </div>
        <div class="form-group p-2">
          <label class="control-label fs-5 fw-medium">Ref Order Id</label>
          <h2 class="form-control"><%= @referrer.ref_order_id %></h2>
        </div>
        <div class="form-group p-2">
          <label class="control-label fs-5 fw-medium">Aff Pay Response</label>
          <h2 class="form-control"><%= @referrer.aff_pay_response %></h2>
        </div>
        <div class="form-group p-2">
          <label class="control-label fs-5 fw-medium">Ref Pay Response</label>
          <h2 class="form-control"><%= @referrer.ref_pay_response %></h2>
        </div>
        <div class="form-group p-2">
          <label class="control-label fs-5 fw-medium">Created At</label>
          <h2 class="form-control"><%= @referrer.created_at.strftime('%d/%m/%y %H:%M:%S %p')%></h2>
        </div>
      </div>
    </div>

    <div class="form-group p-2 mt-4">
      <div class="col-sm-offset-2 col-sm-10">
        <%= link_to "Edit", referrers_path , class: "btn edit-save-btn text-light fw-medium w-25" %>
      </div>
    </div>
  </div>
