<%= form_with(model: affiliate, url:admin_affiliate_path,class: "form-horizontal") do |form| %>
  <% if affiliate.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(affiliate.errors.count, "error") %> prohibited this app_offer from being saved:</h2>
      <ul>
        <% affiliate.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group p-2">
        <%= form.label :paytm_number, class: "control-label fs-5 fw-medium" %>
        <%= form.text_field :paytm_number, class: "form-control" %>
      </div >
      <div class=" form-group p-2">
        <%= form.label :campaign_name, class: "control-label fs-5 fw-medium" %>
        <%= form.text_field :campaign_name, class: "form-control" %>
      </div >
      <div class="form-group p-2">
        <%= form.label :referral_code, class: "control-label fs-5 fw-medium" %>
        <%= form.text_field :referral_code, class: "form-control" %>
      </div >
    </div>
  </div>
  <div class="form-group p-2">
    <div class="col-sm-offset-2 col-sm-10">
      <%= form.submit "Save", class: "btn edit-save-btn text-light fw-medium" %>
    </div>
  </div>
<% end %>